@charset "utf-8";
@font-face {
    font-family: 'notoB';
    src: url('../font/NotoSansKR-Bold.ttf');
}
@font-face {
    font-family: 'notoR';
    src: url('../font/NotoSansKR-Regular.ttf');
}
@font-face {
    font-family: 'notoEB';
    src: url('../font/NotoSansKR-ExtraBold.ttf');
}
@font-face {
    font-family: 'notoEL';
    src: url('../font/NotoSansKR-ExtraLight.ttf');
}
@font-face {
    font-family: 'markT';
    src: url('../font/Mark\ Pro.ttf');
}
@font-face {
    font-family: 'markB';
    src: url('../font/Mark\ Pro\ Bold.ttf');
}
.swiper-button-next:after,.swiper-button-prev:after {
  content: none;
}
body {
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {text-decoration: none;
    font-family: 'notoB';
}
ul {list-style: none;}

/* navbar */

.nav-bar{
  position: fixed;
  width: 23px;height: 190px;
  right: 74px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  font-family: 'markB';
  font-size: 18px;
}
.nav-bar .nav-top {}
.nav-bar .nav-scrollbar {
  width: 2px; height: 119px;
  background-color: #78787833;
  position: relative;
}
.nav-bar .nav-scrollbar em {
  background-color: #000;
  height: 16%;width: 2px;
  position: absolute;
}
.page-bar {
  position:fixed;
  z-index: 3;
  width: 23px;
  height: 190px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%; right: 74px;
  transform: translateY(-50%);
  font-size: 18px; font-family: 'markB';
}
.page-bar #bar {
  width: 2px;
  height: 120px;
  background-color: #333;
  position: absolute;
  top: 35px; left: 10px;
  z-index: 9;
}
.page-bar #bar::after {
  content: '';
  width: 2px;
  height: 120px;
  position: absolute;
  background-color: #78787833;
}
/* header */
header {
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 2;
}
header .bg{
  position: absolute;
  width: 100%;
  height: 100px; 
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  top: 0;
  transition: height .5s;
}
header:hover .bg {
  opacity: 1;
  visibility: visible;
  height: 424px;
}
header:hover .gnb-depth1 > li > a {
  color: #000;
}
header #logo {
    width: 216px;
    height: 30px;
    background: url('../img/logo_white.svg')no-repeat center/cover;
    position: relative;
}
header:hover #logo a {
  display: block !important;
}
header #logo a {
  /* display: none; */
  height: 30px;
  position: absolute;
  top: -6px;
  left: -1px;
}
header .gnb-wrap a.wow {
  color: #000;
}

header .gnb-wrap {
    width: 1106px;   
    /* display: flex;  */
    /* position: absolute; top: 0; left: 0;  / */
}
header .gnb-wrap a{
    color: #fff;
}
header .gnb-wrap .gnb-depth1 {
    display: flex;
    justify-content: space-between;
}
header .gnb-wrap .gnb-depth1 > li {
    position: relative;
    padding: 37px 0;
    line-height: 27px;
}
header .gnb-wrap .gnb-depth1 > li > a {
    font-size: 18px;
    
}
header .gnb-wrap .gnb-depth1 .depth2 {
    position: absolute;
    top: 100%;
    left: 0;
    display: none; 
    /* height: 0; */
}
/* header:hover .depth2{
  display: block;
  z-index: 9;
} */
header .gnb-wrap .gnb-depth1 .depth2 > li > a{
    color: #000;
}
header .gnb-wrap .depth3 > li a {
    color: #707070;
}
header .gnb-wrap .depth3 {
    margin-bottom: 17px;
}



header .login {
    width: 164px;
    height: 100px;
    display: flex; justify-content: space-between; align-items: center;
}
header .login .eng {
    width: 100px; height: 30px;
    border: 1px solid #fff; 
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-family: 'notoR';
}
header:hover .eng {
  color: #000;
  border: 1px solid #000;
  z-index: 9;
}
header .eng.color {
  color: #000;
  border: 1px solid #000;
}
header .login .menu {
    background: url('../img/ico_24_allmenu_white.svg')no-repeat center/cover;
    width: 24px; height: 24px;
    z-index: 9;
}
header .login .menu a {
  display: none;
}
header:hover .login .menu a{
  display: block !important;
}


 .mainSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 100vh;
  }
  .mainSwiper .swiper-button-next{
    background: url('../img/ico_arrow_right.svg')no-repeat;
    position: absolute; top: 63%;
  }
  .mainSwiper .swiper-button-prev{
    background: url('../img/ico_arrow_left.svg')no-repeat;
    position: absolute; top: 63%;
  }
  .mainSwiper .button-wrap {
    width: 240px; height: 56px;
    background: rgba(0,0,0,0.6);
    position: absolute;
    left: 50%; transform: translateX(-50%); bottom: 0;
    z-index: 1; border-radius: 56px;
    display: flex; align-items: center;
  }
  
  .mainSwiper .swiper-pagination-current{
    color: #fff;
  }
  .fixed {
    z-index: 1;
    width: 191px;
    height: 244px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    display: flex; flex-direction: column;justify-content: space-around;
    align-items: flex-end;
  }
  .fixed .fixed-top {
    width: 191px; height: 72px;
    border-radius: 72px;
    background-color: rgba(213,0,55,0.9);
    display: flex; align-items: center;
    justify-content: space-around;
  }
  .fixed .fixed-top h3 {
    color: #fff;
    font-size: 18px;
    font-family: 'notoEB';
  }
  .fixed .fixed-top img {
    width: 37px; height: 37px;
  }
  .fixed .fixed-arrow {
    width: 64px; 
    /* height: 64px; */
    height: 0;
    overflow: hidden;
    background-color: #787878b3;
    position: relative;
    cursor: pointer;
  }

  .fixed .fa-solid, .fas {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    filter: invert(100%);
  }
  .section .container {
    padding: 0 48px;
    width: 1312px; height: 541px;
    margin: 0 auto;
    position: relative;
    z-index: 99;
  }
  .section .container .title {
    font-size: 96px;
    font-family: 'markB';
    font-weight: 800;
    position: relative;
    z-index: 2;
  } 
  .section .container .title::after{
    position: absolute;
    bottom: 32px;width: 20px; height: 20px; background-color: #d50037;
    margin-left: 16px;
    content: '';
  }
  .taps button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .taps {
    width: 320px;
    height: 370px;
  }
  .taps ul{
    display: flex; justify-content: flex-start; flex-direction: column;
  }
  .taps ul li {
    margin: 28px 0;
  }
  .taps li:first-child button p {
    display: block;
    font-weight: bold;
  }
  .taps button p {
    font-size: 16px;
    float: left;
    display: none;
  }
  .taps button h3 {
    font-size: 32px;
    float: left;
    color: #999;
  }
  .taps button h3.active {
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }
  .mainSwiper .swiper-pagination {
    bottom: 17px;
    font-family: 'notoB';
    color: #999;
  }
  .section .container .page2 {
    position: relative;
    height: 516px;
    top: -432px;
    left: 44%;
  }
  .section .container .coffeepage > * {
    display: none;
  }
  .section .container .coffeepage > *.on {
    display: block;
  }
  .page2 .swiper-wrapper  {
    align-items: flex-end;
    /* transform: translate3d(-352px 0 0) !important; */
  }
  
 .page2 .tapsw .swiper-slide {
    width: 176px !important; height: 176px;
  }
.page2 .tapsw .swiper-slide-active {
    width: 488px !important; height: 488px;
  }
.page2 .tapsw .swiper-slide img {
    width: 100%;height: 100%;
  }
  .page2 .button-eve {
    width: 424px; height: 56px; background-color: #000;
    position: relative; left: 3%;
    bottom: 28px;
    z-index: 1;
  }
  .page2 .button-eve .swiper-button-next {
    background: url('../img/ico_arrow_right.svg')no-repeat;
    top: 36px;
  }
  .page2 .button-eve .swiper-button-prev {
    background: url('../img/ico_arrow_left.svg')no-repeat;
    top: 36px;
  }
  .page2 .swiper-pagination {
    width: 100%;
    height: 100%;
    top: 14px;
    left: -120px;
    position: relative;
    color: #fff;
  }
  .page2 .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;

  }
  .page2 .swiper-pagination .swiper-pagination-bullet span {
    width: 200px;
    height: 50px;
    display: block;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%; left: 56%;
    transform: translateY(-50%);
    font-family: 'notoL';
  }
  .page2 .swiper-pagination .swiper-pagination-bullet-active span {
    opacity: 1;
  }
  /* 에이리스트 페이지 */
.container-bg {
  background: url('../img/main_alist_pc.jpg')no-repeat center/cover;
  width: 100%; height: 100vh;
}


.contai {
  max-width: 1312px;
  margin: 0 auto;
  padding: 100px 48px;
  position: relative;
  top: 100px;
}
.contai .maintitle {
  font-size: 96px;
  margin: 50px 0;
    font-family: 'notoEB';
    position: relative;
}
.contai .maintitle::after {
  width: 20px;
  height: 20px;
  background-color: #d50037;
  position: absolute;
  content: '';
  bottom: 28px;
  margin-left: 16px;
}
.contai .main {
  font-size: 32px;
  font-family: 'notoEB';
  margin-bottom: 40px;
}
.contai .sub-title {
  font-size: 24px;
  margin-bottom: 16px;
  font-family: 'notoB';
}
.contai .sub-text {
  font-size: 18px; width: 42%;
  color: #534d49;
  font-weight: 400; font-family: 'notoR';
  
}

/* 4번쨰 페이지 */
.container .maintitle {
  font-size: 96px;
  font-family: 'markB';
  position: relative;
  z-index: 2;
}
.container .maintitle::after {
  width: 20px; height: 20px;
  background-color: #d50037;
  content: ''; position: absolute;
  margin-left: 16px;     bottom: 32px;
}
 .over {
  width: 100vw;
  position: absolute;
  top: 4%;
  right: -35%;
}
.page4 {
  height: 552px;
    position: relative;
    bottom: 35%;
    right: -17%;
    overflow: hidden;
}

.page4 .swiper-slide {
  display: flex;
  align-items: flex-end;
}

.page4 .click-warp {
  width: 312px;
  height: 56px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  z-index: 2;
  right: 43%;
}
.page4 .click-warp .swiper-button-next {
  background: url('../img/ico_arrow_right.svg')no-repeat;
  top: 62%;
}
.page4 .click-warp .swiper-button-prev {
  background: url('../img/ico_arrow_left.svg')no-repeat;
  top: 62%;
}
.page4 .swiper-slide .left {
    font-size: 18px;
    font-family: 'notoR';
    transform: rotate(270deg);
    position: relative;
    top: -84px;
    left: 30px;
    white-space: nowrap;
    padding-left: 10px;
}
.page4 .swiper-slide .left::before {
  width: 40px;
    height: 1px;
    position: absolute;
    background-color: #000;
    content: '';
    bottom: 33%;
    left: -32%;

}
.page4 .swiper-slide img {
  width: 552px; height: 552px;
}
.page4 .swiper-slide .right {
  width: 312px; height: 348px;
  margin-left: 72px;
} 
.page4 .swiper-slide .right img {
  width: 64px; height: 64px;
  margin-bottom: 24px;
}
.page4 .swiper-slide .right strong {
  font-family: 'notoEB';
  display: block;
  margin-bottom: 32px;
    font-size: 32px;
    color: #000;
    position: relative;
    text-decoration: underline;
    position: relative;
}
.page4 .swiper-slide .right p {
  font-size: 18px;
  color: #333;
  font-family: 'notoL';
  width: 138%;
}
.page4 .swiper-slide .right strong::after {
  width: 30px;
  height: 30px;
  background: url(../img/ico_arrow_right.svg) no-repeat center/cover;
  content: '';
  position: absolute;
  right: 0px;
  width: 30px;
  top: 20%;
  height: 30px;
  filter: brightness(0);
}
.page4 .swiper-pagination-fraction {
  color: #fff; 
  font-family: 'notoB';
  top: 24%; z-index: -1;
}
.page4 .swiper-pagination-total {
  color: #999;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}



/* FRANCHISE PAGE */
.bg-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translate(100%,0);
  animation: backgrond linear 30s infinite;
}
.bg-one {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translate(100%,0); 
  animation: one linear 20s infinite;
}
@keyframes one {
  100%{transform: translate(-100%);}
}

.bg-one .jum {
  position: absolute;
  width: 8px; height: 8px;
  background-color: #C8C8C8;
  border-radius: 50%;
}
.bg-one .jum1{
  top: 15vh;
  left: 0;
} 
.bg-one .jum2{
  top: 45vh; left: 23%;
} 
.bg-one .jum3{
  top: 23%; left: 46%;
} 
.bg-one .jum4{
  top: 55vh; left: 69%;
} 
.bg-one .jum5{
  top: 25vh; left: 82%;
} 
.bg-one .jum6{
  top: 65vh; left: 105%;
} 
.bg-one .jum7{
  top: 45vh;  left: 128%;
} 
.bg-one .jum8{
  top: 75vh;  left: 151%;
} 
.second {
  transform: translate(200%,0);
  animation: backgrond linear 55s infinite;
}
@keyframes backgrond {
  100%{transform: translate(-100%,0);}
}
.bg-wrap .img {
  width: 160px; height: 160px;
  position: relative;
}
.bg-wrap .img img {
  width: 100%; height: 100%;
  border-radius: 50%;
}
.bg-wrap .img .text {
  position: absolute;
  right: -32px;
    top: 30px;
    width: 112px;
    height: 32px;
    border-radius: 32px;
    border-bottom-left-radius: 0;
    background-color: rgba(213,0,55,0.68);
    font-size: 12px;
    text-align: center;
    line-height: 32px;
    font-family: 'notoB';
    color: #fff;
}
.bg-wrap .item {
  position: absolute;
}
.bg-wrap .item-1 {
  top: 10%;
}
.bg-wrap .item-2{
  top: 30%;
  left: 30vw;
}
.bg-wrap .item-3{
  top: 70%;
    left: 60vw;
}
.bg-wrap .item-4{
  top: 20%;
    left: 90vw;
    position: absolute;
}
.container .h1-title {
  font-size: 96px;
  margin: 193px 0 32px;
  text-align: center;
  position: relative;
  font-family: 'notoR';
} 
.container .h1-title::after {
  width: 20px; height: 20px;
  position: absolute;
  background-color: #d50037;
  content: '';
  bottom: 23px;
    right: 25%;
}
.container .sub-title {
  font-size: 24px;
  margin-bottom: 32px;
  text-align: center;
  font-family: 'notoEB';
}
.container .textb {
  font-size: 18px;
  margin-bottom: 48px;
  text-align: center;
  font-family: 'notoR'
}
.container .button-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.container .button-wrap .box {
  width: 240px;
  height: 64px;
  border: solid 2px #000;
  display: flex;
  align-items: center;
    justify-content: space-evenly;
    position: relative;
    transition: all 5s;
    background-color: #fff;
}
.container .button-wrap .box span {
  font-size: 20px;
  font-family: 'notoB';
  z-index: 1;
}
.container .button-wrap .box img {
  filter: brightness(0);
  width: 28px; height: 28px;
  z-index: 1;
}
.container .button-wrap .box::before {
  height: 100%;width: 0;
  background-color: #000;
  position: absolute;
  left: 0;
  content: '';
  transition: .5s;
}
.container .button-wrap .box:hover span {
  color: #fff;
}
.container .button-wrap .box:hover img {
  filter: none;
}
.container .button-wrap .box:hover::before {
  width: 100%;
}
.container .button-wrap .box .ico-arrow {
  width: 28px; height: 28px; display: block;
}
.page6 p{
  margin: 48px 0 80px;
  font-size: 20px; font-family: 'notoB';
}
.page6 .maintitle {
  margin-top: 50px;
}
.page6 img {
  margin-top: 20px;
}
.page6 .right-wrap {
  position: absolute;
  top: 0%;
  right: 0%;
    z-index: 2;
}
.page6 .right-wrap .right {
  width: 590px; height: 181px;
  padding: 38px 48px;
  border-bottom: 1px solid #efefef;
  position: relative;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}
.page6 .right-wrap .right .main {
    word-wrap: normal;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: auto;
    max-width: 100%;
    height: 36px;
    color: #000;
    padding-top: 0.2em;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
}
.page6 .right-wrap .right:hover::before{
  width: 100%;
  transition: .5s;
}
.page6 .right-wrap .right:hover .main{
  color: #fff;
}
.page6 .right-wrap .right:hover .btm {
  color: #fff;
}
.page6 .right-wrap .right::before {
  width: 0; height: 100%;
  left: 0; bottom: 0;
  background-color: #222;
  position: absolute;
  content: '';
  z-index: -1;

}
.page6 .right-wrap .top {
  color: #d50037;
  margin-bottom: 14px;
}
.page6 .right-wrap .main {
  font-size: 24px;
  font-family: 'notoB';
    position: relative;
    display: inline;
}
.page6 .right-wrap .main::after{
  bottom: 0; width: 100%;
  height: 1px; background-color: #fff; 
  content: ''; position: absolute;
  left: 0;
}
.page6 .right-wrap .btm {
  font-family: 'notoR';
  margin-top: 14px;
}

/* footer  */
footer {
  background-color: #222;
  position: relative;
  padding: 20px 0;
}
footer .footer-float-left {
  height: 230px;
}
footer .footer-float-left li{
  font-size: 24px;
  font-family: 'notoB';
  color: #fff;
  line-height: 2.5;
}
footer .footer-float-left li:hover{
  text-decoration: underline;
}
footer .footer-float-left ul {
  float: left;
}
footer .footer-float-left .left {
  float: right;
}
footer .footer-float-left .left h3 {
  font-size: 16px;
  font-family: 'markB';
  color: #fff;
  margin-top: 34px;
}
footer .footer-float-left .left p{
  font-size: 14px;
  color: #777;
  font-family: 'notoR';
  margin-top: 10px;
}
footer .footer-bottom {
  width: 1216px; height: 242px;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  padding-top: 48px;
  border-top:1px solid rgba(255,255,255,0.15);
}
footer .footer-bottom ul {
  float: left;
}
footer .footer-bottom li {
  display: inline-block;
  margin-right: 40px;
  color: #fff;
  font-family: 'notoB';
  font-size: 14px;
}
footer .footer-bottom li:hover{
  text-decoration: underline #fff;
}
footer .bottom-info {
  margin: 16px 0 16px;
}
footer .bottom-info ul {
  line-height: 1.8;
  float: none;
}
footer .bottom-info li {
  display: inline;
  color: #777;
  font-size: 14px;
}
footer .bottom-copy {
  color: #777;
  font-size: 12px;
}
footer .footer-sns {
  display: flex;
    float: right;
    justify-content: flex-end;
    gap: 10px
}
footer .footer-sns .item {
  width: 32px; height: 32px;
  border-radius: 50%;
  border: 1px solid #737373;
  position: relative;
}
.fa-brands, .fab {
  font-weight: 400;
  left: 50%; top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

footer .fa-instagram:before {
  display: block;
  filter: invert(0.6);
  font-size: 1rem
}
.fa-youtube:before{
    filter: invert(1);
    display: block;
    filter: invert(0.6);
    font-size: 1rem
}
.fa-x-twitter:before{
  display: block;
  filter: invert(0.6);
  font-size: 1rem
}